<div class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <%= link_to "", "https://github.com/Jorge-Ortiz-Mata", class:"fab fa-github btn btn-outline-light btn-floating m-1", :target => '_blank' %>
      <%= link_to "", "https://www.linkedin.com/in/jorge-ortiz-ab1b18183/", class:"fab fa-linkedin btn btn-outline-light btn-floating m-1", :target => '_blank' %> 
      <%= link_to "", "https://bitbucket.org/jorge_ortiz_107/", class:"fab fa-bitbucket btn btn-outline-light btn-floating m-1", :target => '_blank' %>
      <%= link_to "", "https://yorchwitter.herokuapp.com", class:"fas fa-server btn btn-outline-light btn-floating m-1", :target => '_blank' %>
    </section>
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright | Jorge Ortiz. | Yorch web sites
  </div>
</div>
