<!-- Footer -->
<div class="page-footer font-small cyan darken-3">

    <div class="card">
        <div class="card-body text-center">
            <p class="card-text text-center">
                <%= link_to "", "https://github.com/Jorge-Ortiz-Mata", class:"fab fa-github" %> <%= link_to "", "https://www.linkedin.com/in/jorge-ortiz-ab1b18183/", class:"fab fa-linkedin" %> <%= link_to "", "https://bitbucket.org/jorge_ortiz_107/", class:"fab fa-bitbucket" %> <%= link_to "", "https://users-and-posts-project.herokuapp.com/", class:"fas fa-server" %><br><br>
            </p>
        </div>
    </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/">Jorge Ortiz</a>
  </div>
  <!-- Copyright -->

</div>
<!-- Footer -->