<h2>Results.</h2>

<% if !(@result.present?) %>
    <div class="alert alert-success" role="alert">
        Display <b>all users.</b>
    </div>
    <%= render 'searches/result' %>
<% elsif !(@users_result.nil?) %>
    <div class="alert alert-success" role="alert">
        You searched for: <b><%= @result %></b>
    </div>
    <%= render 'searches/result' %>
<% end %>