<h2>Results.</h2>
<% if !(@users_result.nil?) %>
    <div class="alert alert-success" role="alert">
        You searched for: <b><%= @result %></b>
    </div>
    <%= render 'searches/result' %>
<% else %>
    <div class="alert alert-danger" role="alert">
        <b>Ohps!</b> Seems that there was an error. Please, try again.
    </div>
<% end %>