
<% if !(@result.present?) %>
    <%= render 'searches/result' %>
<% elsif !(@users_result.nil?) %>
    <div class="alert alert-success" role="alert">
        You searched for: <b><%= @result %></b>
    </div>
    <%= render 'searches/result' %>
<% elsif @users_result.nil? %>
    <br><br>
    <div class="alert alert-danger m-5 p-3" role="alert">
        There is not results for: <b><%= @result %></b>
    </div>
    <br>
<% end %>
