/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .mainClass{
     padding: 10px;
 }
 
.alertMessage, .noticeMessage{
    position: relative;
    z-index: 10;
    width: 700px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.formCreateProfile{
    padding: 10px;
}

.imageUser{
    width: 65px;
    height: 80px;
    border-radius: 200px;
    zoom: 150%;
}

.imageUserComment{
    width: 35px;
    height: 40px;
    border-radius: 200px;
    margin: 5px;
}

.imageUserSideBar{
    width: 35px;
    height: 40px;
    border-radius: 200px;
    margin: auto auto 10px auto;
}

.imageLogo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Y-logo.png);
    width: 24px;
    height: 24px;
    margin: 2px;
}

.imagesDiv{
    justify-content: center;
    margin: 20px;
}

.postImage{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.likesButton, .likesButton:hover{
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.deleteCommentButton, .deleteCommentButton:hover{
    color: #ffbdbd;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.colorRed i{
    color: #ffbdbd;
    padding: 1px auto 5px 1px;
}

.sideBar{
    background-color: #1d1d1d;
    margin: 0px auto auto 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.cardUserSideBar{
    border: 0px;
    border-radius: 10px;
}

.cardUserSideBar:hover{
    box-shadow: 0px 0px 5px 2px #b6b6b6;
}