/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .mainClass{
     padding: 10px;
 }
 
.alertMessage, .noticeMessage{
    position: relative;
    z-index: 10;
    width: 700px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.formCreateProfile{
    padding: 10px;
}

.imageUser{
    width: 65px;
    height: 80px;
    border-radius: 200px;
    zoom: 150%;
}

.imageUserComment{
    width: 35px;
    height: 40px;
    border-radius: 200px;
    margin: 10px;
}

.imageLogo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Y-logo.png);
    width: 24px;
    height: 24px;
    margin: 2px;
}

.imagesDiv{
    justify-content: center;
    margin: 20px;
}

.postImage{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}